@page "/Group/{gid:groupid}/CreateBook"
@using Nanoid
@model LibellusWeb.Pages.Group.Book.CreateBookModel
@{
    ViewData["Title"] = "Create Book";
}

<div class="row d-flex">
<div class="col-md-2">
        <partial name="Group/_SideNavPartial" model="Model.GroupId" />
</div>

    <div class="col-md-8 align-items-center justify-content-center">
<section>
<h2>Create a new book.</h2>
<hr/>

<form class="form-floating" id="book" method="post" enctype="multipart/form-data">
<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
<div class="form-floating mb-3">
    <input asp-for="Input.Title" type="text" class="form-control" placeholder="Book title">
    <label asp-for="Input.Title">Book title</label>
    <span asp-validation-for="Input.Title" class="text-danger"></span>
</div>
<div class="form-floating mb-3">
    <textarea asp-for="Input.Description" class="form-control" placeholder="Description text" style="height: 200px"></textarea>
    <label asp-for="Input.Description">Description (Optional)</label>
    <span asp-validation-for="Input.Description" class="text-danger"></span>
</div>
<hr/>
<div class="container">
    <div class="row row-cols-2">
        <div id="author-selection" class="col">

            <div class="input-group mb-3">
                <button class="btn btn-outline-primary text-wrap"
                        type="button"
                        id="newauthor"
                        onclick="addNewSimpleValue('newauthorinput', 'checkbox', 'authoroptions', 'authorgroup', '@nameof(Model.InputAuthor)')">
                    Add author
                </button>
                <input
                    id="newauthorinput"
                    type="text"
                    class="form-control"
                    placeholder="Author"
                    aria-label="Author"
                    list="authoroptions"/>
                <datalist id="authoroptions">
                    @{
                        foreach (var value in Model.Authors)
                        {
                            <option value="@value"></option>
                        }
                    }
                </datalist>
                <button class="btn btn-outline-dark" type="button" id="authorclear" onclick="unselect('InputAuthor')">Clear</button>
            </div>

            <div class="form-floating mb-3">
                <ul id="authorgroup" class="list-group" style="max-height: 300px; overflow-y: auto;">
                    @{
                        foreach (var value in Model.Authors)
                        {
                            <li class="list-group-item">
                                @{
                                    var tempId = Nanoid.Generate(size: 7);
                                    var inputValue = $"{ value.Id.Value.ToString("N") }-{value.Name.Value}";
                                }
                                <input id="@tempId" value="@inputValue" name="@nameof(Model.InputAuthor)" class="form-check-input ms-1 me-1" type="checkbox" />
                                <label class="form-check-label ms-1 me-1" for="@tempId">
                                    @value.Name.Value
                                </label>
                             </li>
                        }
                    }
                </ul>
            </div>

        </div>

        <div id="tag-selection" class="col">

            <div class="input-group mb-3">
                <button class="btn btn-outline-primary text-wrap"
                        type="button"
                        id="newtag"
                        onclick="addNewSimpleValue('newtaginput', 'checkbox', 'tagoptions', 'taggroup', '@nameof(Model.InputTag)')">
                    Add tag
                </button>
                <input id="newtaginput"
                       type="text"
                       class="form-control"
                       placeholder="Tag"
                       aria-label="Tag"
                       list="tagoptions"/>
                <datalist id="tagoptions">
                    @{
                        foreach (var value in Model.Tags)
                        {
                            <option value="@value"></option>
                        }
                    }
                </datalist>
                <button class="btn btn-outline-dark" type="button" id="tagclear" onclick="unselect('InputTag')">Clear</button>
            </div>

            <div class="form-floating mb-3">
                <ul id="taggroup" class="list-group" style="max-height: 300px; overflow-y: auto;">
                    @{
                        foreach (var value in Model.Tags)
                        {
                            <li class="list-group-item">
                                @{
                                    var tempId = Nanoid.Generate(size: 7);
                                    var inputValue = $"{ value.Id.Value.ToString("N") }-{value.Name.Value}";
                                }
                                <input id="@tempId" value="@inputValue" name="@nameof(Model.InputTag)" class="form-check-input ms-1 me-1" type="checkbox" />
                                <label class="form-check-label ms-1 me-1" for="@tempId">
                                    @value.Name.Value
                                </label>
                            </li>
                        }
                    }
                </ul>
            </div>

        </div>

        <div id="warningtag-selection" class="col">

            <div class="input-group mb-3">
                <button class="btn btn-outline-primary text-wrap"
                        type="button"
                        id="newwarningtag"
                        onclick="addNewSimpleValue('newwarningtaginput', 'checkbox', 'warningtagoptions', 'warningtaggroup', '@nameof(Model.InputWarningTag)')">
                    Add warning tag
                </button>
                <input id="newwarningtaginput"
                       type="text"
                       class="form-control"
                       placeholder="Warning tag"
                       aria-label="Warning tag"
                       list="warningtagoptions"/>
                <datalist id="warningtagoptions">
                    @{
                        foreach (var value in Model.WarningTags)
                        {
                            <option value="@value"></option>
                        }
                    }
                </datalist>
                <button class="btn btn-outline-dark" type="button" id="warningtagclear" onclick="unselect('InputWarningTag')">Clear</button>
            </div>

            <div class="form-floating mb-3">
                <ul id="warningtaggroup" class="list-group" style="max-height: 300px; overflow-y: auto;">
                    @{
                        foreach (var value in Model.WarningTags)
                        {
                            <li class="list-group-item">
                                @{
                                    var tempId = Nanoid.Generate(size: 7);
                                    var inputValue = $"{ value.Id.Value.ToString("N") }-{value.Name.Value}";
                                }
                                <input id="@tempId" value="@inputValue" name="@nameof(Model.InputWarningTag)" class="form-check-input ms-1 me-1" type="checkbox" />
                                <label class="form-check-label ms-1 me-1" for="@tempId">
                                    @value.Name.Value
                                </label>
                            </li>
                        }
                    }
                </ul>
            </div>

        </div>

    </div>


</div>

<div class="container">
    <div class="row row-cols-2">
        <div id="genre-selection" class="col">

            <div class="input-group mb-3">
                <button class="btn btn-outline-primary text-wrap  dropdown-toggle"
                        type="button"
                        id="newgenre"
                        data-bs-toggle="dropdown">
                    Add Genre
                </button>
                <ul class="dropdown-menu">
                    <li onclick="addTrueFalseValue('newgenreinput', 'checkbox', '', 'genregroup', '@nameof(Model.InputGenre)', 'true', '(Fiction)', '(Non-Fiction)')">
                        <a class="dropdown-item" href="#genre-selection">As fiction</a>
                    </li>
                    <li onclick="addTrueFalseValue('newgenreinput', 'checkbox', '', 'genregroup', '@nameof(Model.InputGenre)', 'false', '(Fiction)', '(Non-Fiction)')">
                        <a class="dropdown-item" href="#genre-selection">As non-fiction</a>
                    </li>
                </ul>
                <input id="newgenreinput"
                       type="text"
                       class="form-control"
                       placeholder="Genre"
                       aria-label="Genre"/>
                <button class="btn btn-outline-dark" type="button" id="genreclear" onclick="unselect('InputGenre')">Clear</button>
            </div>

            <div class="form-floating mb-3">
                <ul id="genregroup" class="list-group" style="max-height: 300px; overflow-y: auto;">
                    @{
                        foreach (var genre in Model.Genres)
                        {
                            var value = $"{genre.Id.Value.ToString("N")}-{genre.Name.Value}";
                            var name = genre.IsFiction ? "(Fiction)" : "(Non-Fiction)";

                            <li class="list-group-item">
                                @{
                                    var tempId = Nanoid.Generate(size: 7);
                                }
                                <input id="@tempId" value="@value" name="@nameof(Model.InputGenre)" class="form-check-input ms-1 me-1" type="checkbox"/>
                                <label class="form-check-label ms-1 me-1" for="@tempId">
                                    @genre.Name.Value<i class="ms-1">@name</i>
                                </label>
                            </li>
                        }
                    }
                </ul>
            </div>

        </div>

        <div id="lit-form-selection" class="col">

            <div class="input-group mb-3">
                <button class="btn btn-outline-primary text-wrap"
                        type="button"
                        id="newlitform"
                        onclick="addNewSimpleValue('newlitforminput', 'radio', 'newlitformoptions', 'litformgroup', '@nameof(Model.InputLiteratureForm)')">
                    Add literature form
                </button>
                <input id="newlitforminput"
                       type="text"
                       class="form-control"
                       placeholder="Literature form"
                       aria-label="Literature form"
                       list="newlitformoptions"/>
                <datalist id="newlitformoptions">
                    @{
                        foreach (var value in Model.LiteratureForms)
                        {
                            <option value="@value.Name.Value"></option>
                        }
                    }
                </datalist>
                <button class="btn btn-outline-dark" type="button" id="litformclear" onclick="unselect('InputLiteratureForm')">Clear</button>
            </div>

            <div class="form-floating mb-3">
                <ul id="litformgroup" class="list-group">
                    @{
                        foreach (var value in Model.LiteratureForms)
                        {
                            <li class="list-group-item">
                                @{
                                    var tempId = Nanoid.Generate(size: 7);
                                    var inputValue = $"{value.Id.Value.ToString("N")}-{value.Name.Value}";
                                }
                                <input id="@tempId" value="@inputValue" name="@nameof(Model.InputLiteratureForm)" class="form-check-input ms-1 me-1" type="radio" />
                                <label class="form-check-label ms-1 me-1" for="@tempId">
                                    @value.Name.Value
                                </label>
                            </li>
                        }
                    }
                </ul>
            </div>

        </div>

    </div>
</div>

<hr/>
<div class="container">
    <div class="row row-cols-2">
        <div id="series-selection" class="col">
            <div class="input-group mb-3">
                <button class="btn btn-outline-primary text-wrap"
                        type="button"
                        id="newseries"
                        onclick="addNewSimpleValue('newseriesinput', 'radio', 'newseriesoptions', 'newseriesgroup', '@nameof(Model.InputSeriesTitle)')">
                    Add series
                </button>
                <input id="newseriesinput"
                       type="text"
                       class="form-control"
                       placeholder="Series"
                       aria-label="Series"
                       list="newseriesoptions"/>
                <datalist id="newseriesoptions">
                    @{
                        foreach (var value in Model.Series)
                        {
                            <option value="@value"></option>
                        }
                    }
                </datalist>
                <button class="btn btn-outline-dark" type="button" id="newseriesclear" onclick="unselect('InputSeriesTitle')">Clear</button>
            </div>

            <div class="form-floating mb-3">
                <ul id="newseriesgroup" class="list-group" style="max-height: 300px; overflow-y: auto;">
                    @{
                        foreach (var value in Model.Series)
                        {
                            <li class="list-group-item">
                                @{
                                    var tempId = Nanoid.Generate(size: 7);
                                    var inputValue = $"{ value.Id.Value.ToString("N") }-{value.Title.Value}";
                                }
                                <input id="@tempId" value="@inputValue" name="@nameof(Model.InputSeriesTitle)" class="form-check-input ms-1 me-1" type="radio" />
                                <label class="form-check-label ms-1 me-1" for="@tempId">
                                    @value.Title.Value
                                </label>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>

        <div id="number-in-series-selection" class="col">
            <div class="input-group mb-3">
                <span class="input-group-text" id="numberinseries">Number in series</span>
                <input asp-for="NumberInSeries" type="number" min="0.1" step="0.1" class="form-control" placeholder="Number in series" aria-label="Number in series" aria-describedby="numberinseries">
            </div>
        </div>

    </div>
</div>

<hr/>
<div class="container">
    <div class="row row-cols-2">
        <div class="mb-3 input-group">
            <label asp-for="Upload" class="input-group-text">Cover image</label>
            <input id="coverupload" class="form-control" type="file" asp-for="Upload" accept="image/*"/>
            <button class="btn btn-outline-dark" type="button" id="coverclear" onclick="resetThing('coverupload')">Clear</button>
        </div>
    </div>
</div>

<div>
    <button id="create-book-submit" type="submit" class="w-100 btn btn-lg btn-primary">Create book</button>
</div>
</form>
</section>
</div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>

    <script type="text/javascript">
        $('#book').on('submit', function () {

            addNewSimpleValue('newauthorinput', 'checkbox', 'authoroptions', 'authorgroup', '@nameof(Model.InputAuthor)');
            addNewSimpleValue('newtaginput', 'checkbox', 'tagoptions', 'taggroup', '@nameof(Model.InputTag)');
            addNewSimpleValue('newwarningtaginput', 'checkbox', 'warningtagoptions', 'warningtaggroup', '@nameof(Model.InputWarningTag)');
            
            addNewSimpleValue('newlitforminput', 'radio', 'newlitformoptions', 'litformgroup', '@nameof(Model.InputLiteratureForm)');
            addNewSimpleValue('newseriesinput', 'radio', 'newseriesoptions', 'newseriesgroup', '@nameof(Model.InputSeriesTitle)');

            return true;
        });
    </script>
}